/* general rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.light-mode {
  --primary-color: #4caf50;
  --secondary-color: #ff6f61;
  --text-header-color: #212121;
  --text-color: #333333;
  --background-color: #ffffff;
  --shape-background: #f1f1f1;
  --tertiary-color: #bdbdbd;
  --primary-hover: #388e3c;
  --secondary-hover: #ff4f58;
}

.dark-mode {
  --primary-color: #1b5e20;
  --secondary-color: #ff6f61;
  --text-header-color: #e0e0e0;
  --text-color: #ffffff;
  --background-color: #121212;
  --shape-background: #1e1e1e;
  --tertiary-color: #757575;
  --primary-hover: #004d40;
  --secondary-hover: #ff6f00;
}

ul {
  list-style: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: var(--background-color);
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* components */
/*start common classes*/
.btn {
  width: auto;
  min-width: 100px;
  max-width: 200px;
  background-image: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 0.5rem 0.25rem;
  border: none;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  border-radius: 8px;
  margin: 0.35rem;
}

.btn:hover {
  background-image: linear-gradient(
    90deg,
    var(--primary-hover),
    var(--secondary-hover)
  );
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .btn {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    min-width: 80px;
  }
}

.btn-secondary {
  width: fit-content;
  min-width: 100px;
  background-color: var(--secondary-color);
  padding: 0.75rem 1rem;
  border: 2px solid var(--primary-color);
  font-size: 1.25rem;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  border-radius: 8px;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .btn,
  .btn-secondary {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    min-width: 80px;
  }
}
/*end common classes*/
/* start navbar  */
header {
  width: 100%;
  background-color: var(--shape-background);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: var(--shape-background);
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-family: "kaushan Script", "cursive";
  font-weight: bold;
  color: transparent;
  background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  display: inline-block;
}

.logo span {
  color: inherit;
}

.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease;
  font-size: 1.25rem;
}

.theme-toggle:hover {
  color: var(--secondary-color);
}

.theme-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.theme-text {
  font-size: 1rem;
}
/* end navbar */
/* start welcome  */
.welcome-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  text-align: center;
  padding: 1rem;
}

.welcome-screen h1 {
  font-size: 3rem;
  color: var(--secondary-color);
  margin: 1rem 0;
}

.welcome-screen p {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

/* end welcome  */
/* start form  */
.section {
  padding: 1rem 15px;
  height: 100%;
}

.section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  margin: 1.5rem auto;
  color: var(--text-color);
  padding: 1rem;
  background-color: var(--shape-background);
  width: 80%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), -2px -2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media screen and (max-width: 767px) {
  #game-container {
    width: 80%;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 375px) {
  #game-container {
    width: 100%;
    margin: 1rem auto;
  }
}

.form {
  width: 100%;
  max-width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-size: 2rem;
}
@media (max-width: 767px) {
  .form {
    width: 100%;
  }
}
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-control label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
.form-input {
  border: none;
  background: var(--background-color);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 8px;
  color: var(--text-color);
  padding: 0.5rem 0.5rem;
  margin-bottom: 1.5rem;
}
.form-input:focus {
  outline: none;
}

.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end form  */
/* start quiz component */
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

/*
start Loading component
*/
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  border-top-color: var(--text-header-color);
  animation: spinner 0.6s linear infinite;
}
/* end  */

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--shape-background);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.score-item {
  font-size: 1.25rem;
  color: var(--text-color);
}

@media (max-width: 600px) {
  .score {
    flex-direction: column;
    align-items: flex-start;
  }

  .score-item {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 400px) {
  .score-item {
    font-size: 0.9rem;
  }
}
@media (max-width: 991px) {
  .quiz {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .quiz {
    width: 100%;
  }
}

.form h2 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .form h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .form h2 {
    font-size: 1.2rem;
  }
}

.answer-btn {
  display: block;
  color: var(--text-color);
  width: 100%;
  margin: 0.2rem auto;
  background-color: var(--background-color);
  border-radius: 0.25rem;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: 0.3s;
  border-radius: 4px;
}
.answer-btn.correct {
  background-color: #4caf50;
  color: white;
  transform: scale(1.08);
}

.answer-btn.incorrect {
  background-color: #f44336;
  color: white;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  height: 260px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.answer-btn:hover {
  transform: scale(1.05);
}

.skip {
  display: block;
  margin-left: auto;
  width: fit-content;
  padding: 0.25rem 1rem;
}
@media (min-width: 576px) {
  .answer-btn {
    max-width: 60%;
  }
}
.actions-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end quiz component */
/* start modal over */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  color: var(--text-color);
}
/* end modal overlay */
/* start result component  */

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  background-color: var(--shape-background);
  color: var(--text-color);
  text-align: center;
  border-radius: 8px;
  margin-top: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 1rem;
}

.success {
  color: #4caf50;
}

.try-again {
  color: #ffa500;
}
.result-container .score {
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 5px;
}

.result-container .score-excellent {
  border-color: green;
}

.result-container .score-good {
  border-color: blue;
}

.result-container .score-fair {
  border-color: orange;
}

.result-container .score-poor {
  border-color: red;
}

.result-container .score-gave-up {
  border-color: gray;
}
.result-message {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* end result component  */

.portfolio-footer {
  width: 100%;
  background-color: var(--shape-background);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-top: auto;
}

.portfolio-footer p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}
.portfolio-footer a {
  margin: 0.5rem 0.25rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  display: inline-block;
}

.not-found,
.error-page {
  text-align: center;
  padding: 2rem;
  color: var(--text-color);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-wrap: nowrap;
}
@media screen and (max-width: 767px) {
  .button-container {
    flex-direction: column;
  }
}
